animations/chim
animations
versions
npcs
fomod/info.xml
ignored
dist
SpriggitCLI
SpriggitCLI.zip
SKSE/Plugins/SkyrimNet/prompts/submodules/user_final_instructions/0049_sexlab_activites.prompt
main.py 
